In [1]:
#Dependencies
import pandas as pd
import numpy as np

In [2]:
#Import data, ignore first column in Players.csv

col = range(1,8)
players = pd.read_csv("../Resources/original_data/Players.csv", usecols=col)
player_data = pd.read_csv("../Resources/original_data/player_data.csv")

In [3]:
#Drop unwanted column and rename player column

players.drop(columns=['born', 'weight'], inplace=True)
players.rename(columns={"Player": "name", "collage": "college"}, inplace=True)

In [4]:
#Create seasons_played column using year_start and year_end

player_data['seasons_played'] = player_data['year_end'] - player_data['year_start']

In [5]:
#Drop unwanted columns

player_data.drop(columns=['year_end', 'height', 'weight'], inplace=True)

In [6]:
#Drop rows with no data for birth location

players.dropna(subset=['birth_city', 'birth_state'], inplace=True)

In [7]:
#Merge the two dataframes on player name and college attended

players_merged = pd.merge(players, player_data, on=["name", "college"], how="outer")

In [8]:
#Drop rows with no data for birth location

players_merged.dropna(subset=['birth_city', 'birth_state'], inplace=True)

In [10]:
cols=['name','birth_date','birth_city','birth_state','college','height','position','year_start','seasons_played']

In [12]:
players_merged = players_merged[cols]
players_merged

,name,birth_date,birth_city,birth_state,college,height,position,year_start,seasons_played
0,Cliff Barker,"January 15, 1921",Yorktown,Indiana,University of Kentucky,188.0,G,1950.0,2.0
1,Ralph Beard,"December 2, 1927",Hardinsburg,Kentucky,University of Kentucky,178.0,G,1950.0,1.0
2,Charlie Black,"June 15, 1921",Arco,Idaho,University of Kansas,196.0,F-C,1949.0,3.0
3,Nelson Bobb,"February 25, 1924",Philadelphia,Pennsylvania,Temple University,183.0,G,1950.0,3.0
4,Jake Bornheimer,"June 29, 1927",New Brunswick,New Jersey,Muhlenberg College,196.0,F-C,1949.0,1.0
...,...,...,...,...,...,...,...,...,...
3437,Troy Williams,NaN,Columbia,South Carolina,South Carolina State University,198.0,NaN,NaN,NaN
3438,Kyle Wiltjer,"October 20, 1992",Portland,Oregon,Gonzaga University,208.0,F,2017.0,0.0
3439,Stephen Zimmerman,"September 9, 1996",Hendersonville,Tennessee,"University of Nevada, Las Vegas",213.0,C,2017.0,0.0
3440,Paul Zipser,"February 18, 1994",Heidelberg,Germany,NaN,203.0,G-F,2017.0,1.0
3441,Ivica Zubac,"March 18, 1997",Mostar,Bosnia and Herzegovina,NaN,216.0,C,2017.0,1.0

In [ ]:
US_states = ["Alabama","Alaska","Arizona","Arkansas","California","Colorado",
  "Connecticut","Delaware","District of Columbia","Florida","Georgia","Hawaii","Idaho","Illinois",
  "Indiana","Iowa","Kansas","Kentucky","Louisiana","Maine","Maryland",
  "Massachusetts","Michigan","Minnesota","Mississippi","Missouri","Montana",
  "Nebraska","Nevada","New Hampshire","New Jersey","New Mexico","New York",
  "North Carolina","North Dakota","Ohio","Oklahoma","Oregon","Pennsylvania",
  "Rhode Island","South Carolina","South Dakota","Tennessee","Texas","Utah",
  "Vermont","Virginia","Washington","West Virginia","Wisconsin","Wyoming"]

In [ ]:
us_df = players_merged[players_merged['birth_state'].isin(US_states)]
us_df

In [ ]:
us_df['birth_city'].value_counts().head(10)

In [ ]:
us_df['birth_state'].value_counts().head(10)

In [ ]:
international_df = players_merged[~players_merged['birth_state'].isin(US_states)]
international_df

In [ ]:
international_df['birth_state'].value_counts().head(20)

In [ ]:
us_df.to_csv('US_players.csv')

In [ ]:
international_df.to_csv('International_players.csv')

In [ ]:
players_merged.to_csv('All_players')